@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

* {
  font-family: Inter;
  box-sizing: border-box;
  
}

body {
  background-color: rgb(13, 20, 28);
  background-image:
  linear-gradient(30deg, rgb(18, 30, 42) 12%, transparent 12.5%, transparent 87%, rgb(18, 30, 42) 87.5%, rgb(18, 30, 42)),
  linear-gradient(150deg, rgb(18, 30, 42) 12%, transparent 12.5%, transparent 87%, rgb(18, 30, 42) 87.5%, rgb(18, 30, 42)),
  linear-gradient(30deg, rgb(18, 30, 42) 12%, transparent 12.5%, transparent 87%, rgb(18, 30, 42) 87.5%, rgb(18, 30, 42)),
  linear-gradient(150deg, rgb(18, 30, 42) 12%, transparent 12.5%, transparent 87%, rgb(18, 30, 42) 87.5%, rgb(18, 30, 42)),
  linear-gradient(60deg, rgb(19, 32, 44) 25%, transparent 25.5%, transparent 75%, rgb(19, 32, 44) 75%, rgb(19, 32, 44)),
  linear-gradient(60deg, rgb(19, 32, 44) 25%, transparent 25.5%, transparent 75%, rgb(19, 32, 44) 75%, rgb(19, 32, 44));
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 17.5px, 10px 17.5px, 0 0, 10px 17.5px;
  display: flex;
  justify-content: center;
  padding: 0;
}